snippet gijiroku "inserts gijiroku header" b
# ${1:#:Title}
Date: `date "+%Y-%m-%d (%a)"`
Place: ${2}
Member: ${3}

${4:Contents}
endsnippet

snippet business_mail "mail template for business" b
To: ${1}

Hello, I'm ${2}
${3}

Best regards,
endsnippet
