snippet link "Snippet for Hyperlink" b
[${1:text}](${2:url})$0
endsnippet

snippet image "Image block" b
![${1:text}](${2:url} ${3:"title"})$0
endsnippet

snippet code "Code block" b
''' ${1:bash}
$0
'''
endsnippet
