[user]
    name = kaya
    email = 6240107+kayakzt@users.noreply.github.com
[alias]
    unstage = reset -q HEAD --
    discard = checkout --
    nevermind = !git reset --hard HEAD && git clean -d -f
    uncommit = reset --mixed HEAD~
    save = commit -m
    resave = commit --amend
    invert = revert
    last = log -1 HEAD --format=format:"%Cred%H"
    summary = status -u -s
    graph = log --graph -100  --branches --remotes --tags --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    graphlong = log --graph --branches --remotes --tags --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    history = log -10 --format=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    logline = log --pretty=oneline --stat
    branchout = checkout -b
    new-branch = checkout -b
    tags = tag
    branches = branch -a
    ls = branch -a
    stashes = stash list
    remotes = remote -v
    prestage = diff -w --word-diff=color
    precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
    move = mv
    remove = rm
    unmerged = branch --no-merged
    unstash = stash pop
    what = show -w
    untrack = rm -r --cached
    rewrite = rebase -i
    amend = commit --amend
    back = checkout "-"
    contributors = shortlog -s -n --no-merges
    filetrail = log --follow -p -w
    mergetrail = log --ancestry-path --merges
    prune = fetch --prune
    diffj = diff --word-diff=color
    switch = switch
[blame]
    date = relative
[branch]
    sort = -committerdate
[commit]
    verbose = true
[column]
    ui = auto
[push]
    default = current
    followTags = true
[core]
    editor = nvim
    pager = delta
    precomposeunicode = true
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = zdiff3
    tool = vimdiff
[diff]
    algorithm = histogram
    compactionHeuristic = true
	wordRegex = .
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[pull]
	rebase = false
[init]
	defaultBranch = main
[github]
    user = kayakzt
[ghq]
    root = ~/dev/src
[delta]
    navigate = true
    light = false
    line-numbers = true
    keep-plus-minus-markers = true
    hunk-header-style = "omit"
    diff-so-fancy=true
[rerere]
    enabled = true
    autoupdate = true
[tag]
    sort = version:refname
[push]
    default = simple
    autoSetupRemote = true
    followingTags = true
